[submodule "autoenv"]
	path = autoenv
	url = https://github.com/kennethreitz/autoenv.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline
[submodule "zsh-wakatime"]
	path = zsh-wakatime
	url = https://github.com/wbinglee/zsh-wakatime.git
