[submodule "autoenv"]
	path = autoenv
	url = https://github.com/kennethreitz/autoenv.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline
[submodule "zsh-wakatime"]
	path = zsh-wakatime
	url = https://github.com/wbinglee/zsh-wakatime.git
[submodule "dracula_zsh"]
	path = dracula_zsh
	url = https://github.com/dracula/zsh.git
[submodule "docker-compose_zsh"]
	path = docker-compose_zsh
	url = git@github.com:sroze/docker-compose-zsh-plugin.git
