[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=xflux
Comment=Adapts screen color temperature according to daytime
Exec=/home/gilson/.local/bin/xflux -l -15.682283 -g -47.842573
Terminal=false
Type=Application
